body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Should the page's 1 inch borders
body {
  background-color: darkgray;

  article {
    min-width: 8.5in;
    max-width: 8.5in;
    max-height: 11in;
    min-height: 11in;

    background-color: lightgrey;

    main {
      min-width: 8.5in;
      max-width: 8.5in;
      max-height: 11in;
      min-height: 11in;

      padding: 1in;

      background-color: white;
      background-clip: content-box;
    }
  }
}

main > section {
  padding-top: 5px;
}

article > main > header {
  address {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

    section {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 1px;
  column-gap: 5px;

  > * {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
  }

  .site {
    justify-self: end;
  }

  .username {
    justify-self: start;
  }
}

article > main > header {
  display: flex;
  flex-direction: column;

  & > h1 {
    align-self: flex-end;
  }
}

#employment {
  ol,
  ul {
    margin-left: @highlightIndent;
  }

  .job + .job {
    margin-top: 5px;
  }

  .job .position {
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

#knowledge {
  > section {
    margin-left: @highlightIndent;
  }
}

#knowledge {
  #equipment {
    display: grid;
    // I wish I could use Masonry for the rows so if I have
    // a grid-item spanning two "rows", two single-row items
    // can exist on the right.
    //
    // This works for the first row, but the subsequent rows
    // lose their subgrids.
    //
    // For now, we'll just re-arrange the items so the order
    // is good.
    grid-template-columns: auto 1fr auto 1fr;

    li.knowledge {
      display: grid;
      grid-column: span 2;
      grid-template-columns: subgrid;
      column-gap: 0.5em;

      h2 {
        display: inline;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1em;
      }
    }
  }
}

#education {
  h2 {
    display: inline;
  }
}

section {
  h3 {
    display: inline-block;
  }
}

aside {
  float: right;
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

@highlightIndent: 20px;

section {
  & > ol,
  & > ul {
    margin-left: @highlightIndent;
  }
}

ol,
ul {
  &.highlights {
    margin-left: @highlightIndent;
  }
}

#projects {
  & > * + * {
    margin-top: 5px;
  }

  & > ul {
    & > * + * {
      margin-top: 5px;
    }
  }

  h3 {
    margin-left: @highlightIndent;
  }

  .highlights {
    margin-left: calc(2 * @highlightIndent);
  }

  aside {
    float: none;
    display: inline;
    margin-left: 1em;
  }
}
